.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee0e1;
}

.search-container > .input-icon {
    width: 100%;
}

.search-container .form-control {
    border: none;
    height: 60px;
    width: 100%;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.search-container .icon-addon {
    color: rgba(58, 82, 155, .6)
}